@tailwind base;
@tailwind components;
@tailwind utilities;

.falling-item {
  position: absolute;
  top: -120px;
  opacity: 0.5;
  animation: fall linear infinite;
  will-change: transform, opacity;
}

@keyframes fall {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0;
  }
  8% { opacity: 0.5; }
  90% { opacity: 0.5; }
  100% {
    transform: translateY(110vh) rotate(var(--rot-end));
    opacity: 0;
  }
}



.item-1 {
  left: 5%;
  width: 80px;
  height: 80px;
  --rot-end: 300deg;
  animation-duration: 12s;
  animation-delay: 0s;
}
.item-2 {
  left: 20%;
  width: 60px;
  height: 60px;
  --rot-end: -240deg;
  animation-duration: 17s;
  animation-delay: -4s;
}
.item-3 {
  left: 38%;
  width: 55px;
  height: 55px;
  --rot-end: 400deg;
  animation-duration: 10s;
  animation-delay: -7s;
}
.item-4 {
  left: 55%;
  width: 70px;
  height: 70px;
  --rot-end: -360deg;
  animation-duration: 14s;
  animation-delay: -2s;
}
.item-5 {
  left: 70%;
  width: 65px;
  height: 65px;
  --rot-end: 280deg;
  animation-duration: 11s;
  animation-delay: -6s;
}
.item-6 {
  left: 83%;
  width: 75px;
  height: 75px;
  --rot-end: -300deg;
  animation-duration: 16s;
  animation-delay: -3s;
}
.item-7 {
  left: 45%;
  width: 80px;
  height: 80px;
  --rot-end: 320deg;
  animation-duration: 13s;
  animation-delay: -10s;
}
.item-8 {
  left: 67%;
  width: 50px;
  height: 50px;
  --rot-end: 320deg;
  animation-duration: 13s;
  animation-delay: -12s;
}


@font-face {
  font-family: 'Faith';
  src: url('/bgelements/faith.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Relationship of mélodrame';
  src: url('/bgelements/Relationship of mélodrame.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Utendo-bold';
  src: url('/bgelements/Utendo-Bold.ttf');
  font-weight: normal;
  font-style: bold;
}

.seekthe {
  font-size: 100px;
  font-style: normal;
  color: #001F54;
  text-align: center;
}


.uncharted {
  font-family: 'Relationship of mélodrame';
  font-style: italic;
  color: #4B0000;
  font-size: 110px;
  text-align: center;
  margin-top: -70px;
  margin-left: -40px;

}